.container{

  &-menumanger{
    width: 100vw;
    height: 150vh;

    background-image: url("../../img/pattern.png");
    background-repeat: repeat;
    background-size: cover;
  
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 6fr;
  }

  &-passer-commande{
    grid-column: 1/3;
    grid-row: 1/2;

    padding-block: 6vh;
    padding-inline: 12vw;

    >.passer-title{
      @include font-settings(3vw, 700, $text-color-alternate, $font-family);
      margin-bottom: 5vh;
      text-align: center;
    }

    >.passer-text{
      @include font-settings(1.3vw, 500, $text-color-2, $font-family);
      line-height: 3vh;
      text-align: center;
      margin-bottom: 5vh;
    }
  }

  &-menumanger-salade{

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);

    padding-inline: 4vw;
    padding-block: 2vh;

    >.menus-vendu{
      @include flex(flex-end, flex-end, false, column);
      >p{
        height: 3vh;
        width: 10vw;
        text-align: center;
        @include font-settings(1vw, 300, $text-color, $font-family);
        background-color: $text-color-alternate;
      }
    }

    >.container-menus{
      display: grid;

      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr 1fr;

      align-items: end;

      padding-inline: 1vw;
      padding-block: 2vh;

      margin-block: 2vh;

      >.menus-titles{
        @include font-settings(1.3vw, 600, $text-color-alternate, $font-family);
      }

      >.menu-test{
        @include font-settings(1.2vw, 400, $text-color-2, $font-family);
      }

      >.menus-prix{
        @include font-settings(1.3vw, 600, $text-color-alternate, $font-family);

        grid-row: 1/2;
        grid-column: 2/3;
        
      }
      
    }

    >.special-menu{
      display: grid;

      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr 1fr;

      align-items: end;

      padding-inline: 1vw;
      padding-block: 2vh;

      margin-bottom: 2vh;

      >.menus-titles{
        @include font-settings(1.3vw, 600, $text-color-alternate, $font-family);
      }

      >.menu-test{
        @include font-settings(1.2vw, 400, $text-color-2, $font-family);
      }

      >.menus-prix{
        @include font-settings(1.3vw, 600, $text-color-alternate, $font-family);

        grid-row: 1/2;
        grid-column: 2/3;
        
      }
      
    }
  }

  &-aside{
    
    @include flex(center, center, false, column);

    padding-block: 5vh;
    padding-inline: 4vw;

    >.container-bended-text{
      height: 30vh;

      >.text-verte{
        @include font-settings(5vw, 300, $text-color-alternate, $font-family);
        transform: rotate(-12deg);;
        margin-bottom: 2vh;
        font-style: italic
        }

      >.text-bleue{
        @include font-settings(5vw, 300, $text-color-alternate-2, $font-family);
        transform: rotate(-12deg);
        font-style: italic
      }
    }

    >.aside-text{
      @include font-settings(1.4vw, 400, $text-color-2, $font-family);
      line-height: 3vh;
      text-align: center;
      margin-bottom: 5vh;
    }

    >.aside-button{
      @include font-settings(2vw, 600, $text-color, $font-family);
      width: 24vw;
      height: 7vh;
      background-color: $text-color-alternate;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover{
        background-color: $text-color;
        color: $text-color-alternate;
        border: 2px solid $text-color-2;
      }
    }

  }

}

.special-menu{
  border: 2px solid $text-color-alternate;
}

@media screen and (max-width:768px){

  .container{
    
      &-passer-commande{

        >.passer-title{

          @include font-settings(6vw, 700, $text-color-alternate, $font-family);
          margin-bottom: 5vh;
          text-align: center;
        }

        >.passer-text{
          @include font-settings(1.8vw, 400, $text-color-2, $font-family);
          line-height: 3vh;
          text-align: center;
          margin-bottom: 5vh;
        }
      }

      &-menumanger-salade{
        >.menus-vendu{
          >p{
            height: 3vh;
            width: 20vw;
            text-align: center;
            @include font-settings(1.8vw, 400, $text-color, $font-family);
            background-color: $text-color-alternate;
          }
        }
        >.container-menus{

          >.menus-titles{
            @include font-settings(2vw, 600, $text-color-alternate, $font-family);
          }
    
          >.menu-test{
            @include font-settings(2vw, 400, $text-color-2, $font-family);
          }
    
          >.menus-prix{
            @include font-settings(2vw, 600, $text-color-alternate, $font-family);
    
            grid-row: 1/2;
            grid-column: 2/3;
            
          }

        }
        >.special-menu{

          >.menus-titles{
            @include font-settings(2vw, 600, $text-color-alternate, $font-family);
          }
    
          >.menu-test{
            @include font-settings(2vw, 400, $text-color-2, $font-family);
          }
    
          >.menus-prix{
            @include font-settings(2vw, 600, $text-color-alternate, $font-family);
    
            grid-row: 1/2;
            grid-column: 2/3;
            
          }
        }
      }
    }
  }