// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$font-family: 'Poppins', sans-serif;

$text-color: white;
$text-color-2:#606060; 

$text-color-alternate: #B2D234;
$text-color-alternate-2: #60A0D8;